*{
    margin: 0;
    border: 0;
}
/* inizio header */
header{

    height: 150px;
    width: 100%;
    background-color: lightskyblue;
   
}

.logo{
    width: 200px;
    padding-top: 90px;
    
    
}


/* inizio first main section */
.article-header{
    margin:10px 5px; 
}

h1{
    font-size: 50px;
}

.author{
    color: rgb(75, 73, 73);    
}

a{
    text-decoration: none;
}

h5 {
    color: rgb(75, 73, 73);
}
.highlighter{
    background-color: yellow;
}

.article-photo{
    margin: 10px 5px;
}

.article-list{
    margin-top: 20px;
    
}