*{
    margin: 0;
    border: 0;
}
/* inizio header */
header{

    height: 150px;
    width: 100%;
    background-color: lightskyblue;
   
}

.logo{
    width: 200px;
    padding-top: 90px;
    
    
}


/* start first main section */
.article-header{
    margin:10px 5px; 
}

h1{
    font-size: 50px;
}

.author{
    color: rgb(75, 73, 73);    
}

a{
    text-decoration: none;
}

h5 {
    color: rgb(75, 73, 73);
}
.highlighter{
    background-color: yellow;
}

/* article photos */

.article-photo{
    margin: 10px 5px;
}

/* article paragraph */
.article-paragraph{
    margin-top: 20px;
}

/* article list */

.article-list{
    margin-top: 20px;
    
}

/* end first main section */

/* start secon main section */
table{
    border-collapse: collapse;
    margin-top: 20px;
}


th, td {
    text-align: left;
    padding: 8px;
}

thead{
    background-color: lightslategray;
}

.coloured{
    background-color: rgb(154, 176, 199);
}

/* end second main section */